.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    grid-gap: 10px 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #bf4060;
}
.block.block2{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rebeccapurple;
}
.block.block3{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: mediumpurple;
}
.block.block4{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: aquamarine;
}
.block.block5{
    display: none;
}
.block.block6{
    display: none;
}
.block.block7{
    display: none;
}
.block.block8{
    display: none;
}